<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1><%= @specialty.title %></h1>
  </div>
</div>


<div class="container">
  <div class="infos-show">
    <div class="details-show">
      <p><%= @specialty.details %></p>
      <p class="pricetag"><%= @specialty.price %>$/hour</p>
    </div>
    <div class="booking-placeholder">
      <p>Book a friend</p>

      <%= simple_form_for [@specialty, @reservation] do |f| %>
      <%= f.input :date %>
      <%= f.input :comment %>
      <%= f.submit %>
      <% end %>
    <div>
  </div>
  <div class="reservations w-50">
    mettre des conditions avec des if

    if pas de reservations => mettre un message "pas de resa"

    # si reservations qui appartiennent au current user

    # iterer dessus et les afficher

    FAIRE UNE JOLIE DIV

    <div>
      <% @specialty.reservations.each do |reservation|%>
        <p><%= reservation.comment %></p>
      <% end %>
    </div>
</div>
