
  <div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
    <div class="container">
      <h1><%= @specialty.title %></h1>
    </div>
  </div>


  <div class="container">
    <div class="infos-show">
      <div class="details-show">
        <p><%= @specialty.details %></p>
        <p class="pricetag"><%= @specialty.price %>€/heure</p>
      </div>
      <div class="booking-placeholder">
        <p>Réserver un ami</p>

  <div data-controller="dynamic-booking-price"
        data-dynamic-booking-price-price-value="<%= @specialty.price %>">
    <%= simple_form_for [@specialty, @reservation],
                        html: {
                          data: {
                            controller: 'flatpickr'
                          }
                        } do |f| %>
      <%= f.input :start_date, as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'startDateInput',
                      dynamic_booking_price_target: 'startDateInput',
                      action: 'change->dynamic-booking-price#updatePrice'
                    }
                  } %>
      <%= f.input :end_date, as: :string,
                  input_html: {
                    data: {
                      flatpickr_target: 'endDateInput',
                      dynamic_booking_price_target: 'endDateInput',
                      action: 'change->dynamic-booking-price#updatePrice'
                    }
                  } %>
      <%= f.submit 'Book now!', class: 'btn btn-primary' %>
    <% end %>
    <p>
      Total price: <span data-dynamic-booking-price-target="priceHolder"><%= @specialty.price %></span> €
    </p>
  </div>
      </div>
    </div>

    <%# iteration pour savoir si un user a la specialité en question %>
    <div class="card-container my-5">
      <div class="title-container mx-0">
        <p><strong>Ce service vous est proposé par</strong></p>
      </div>
      <div class="cards mx-0">
        <% @users.each do |user| %>
          <% if !user.specialties.first.nil? %>
            <% user.specialties.each do |specialty| %>
              <% if specialty.title == @specialty.title %>
                <div class="card">
                  <div class="card-img-top" style="background-image:url(<%= cl_image_path user.photos.first.key, crop: :fill, gravity: :face %>)">
                    <%= link_to profil_path(user) do %>
                    <h5 class="card-title"><%= user.first_name %></h5>
                  </div>
                    <div class="card-body">
                      <p class="card-text" style="text-decoration: none; color: black;"><%= user.description %></p>
                    </div>
                    <div class="card-body">
                      <% if user.specialties.first.nil? %>
                        <p>Activité favorite: ouvert à TOUT</p>
                      <% else %>
                        <p style="color: black;">Activité favorite: <%= user.specialties.first.title %></p>
                      <% end %>
                    </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>





  <%= link_to root_path do %>
    <div class="button">
      <strong style="color: white;">Page d'accueil</strong>
    </div>
  <% end %>
  </div>
