<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random);">
  <div class="container">
    <h1><%= @specialty.title %></h1>
  </div>
</div>


<div class="container">
  <div class="infos-show">
    <div class="details-show">
      <p><%= @specialty.details %></p>
      <p class="pricetag"><%= @specialty.price %>$/hour</p>
    </div>
    <div class="booking-placeholder">
      <p>Book a friend</p>

      <%= simple_form_for [@specialty, @reservation] do |f| %>
      <%= f.input :date %>
      <%= f.input :comment %>
      <%= f.submit %>
      <% end %>


















       <label for="hours">For how long ?</label>
        <select class= "time-dropdown" name="hours" id="hours">
          <option value="1h">1 hour</option>
          <option value="2h">2 hours</option>
          <option value="3h">3 hours</option>
          <option value="4h">4 hours</option>
        </select>
      <p class="btn border-danger">Book a friend</p>
    </div>
  </div>
</div>
