<div class="specialties">
    <% @specialties.each do |specialty| %>
        <%= link_to specialty_path(specialty) do%>
        <h5 class="card-title d-flex flex-column align-items-center">
        <i class="fa-solid fa-circle"></i>
        <%= specialty.title %></h5>
        <% end %>
    <% end %>
  </div>
</div>

<div class="category-button">
  <div class=monBouton>
  <input type=submit value=>
</div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/ddat564z1/image/upload/v1661258915/AIR%20BFF/pexels-rodnae-productions-5543382_lipibr.jpg);">
  <div class="container">
    <h1>Tu es en recherche de nouveaux amis ?</h1>
    <p>Prépares-toi à partager des moments uniques avec tes futurs BFF !</p>
      <div class="search-bar">
      <%= form_with url: specialties_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Cherchez un service ou un BFF !"%>
        <%= submit_tag "Recherche", class: "button" %>
        <% end %>
    </div>
  </div>
</div>

<div class="card-container my-5">
  <div class="title-container">
    <p><strong>Découvre les expériences les plus originales avec tes futurs BFF !</strong></p>
  </div>
  <div class="cards">
    <% @users.each do |user| %>
      <div class="card">
        <div class="card-img-top" style="background-image:url(<%= cl_image_path user.photos.first.key, crop: :fill, gravity: :face %>)">
            <%= link_to profil_path(user) do%>
            <h5 class="card-title"><%= user.first_name %></h5>
            <% end %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= user.description %></p>
        </div>
        <div class="card-body">
        <% if user.specialties.first.nil? %>
        <p>Activité favorite: ouvert à TOUT</p>
        <% else %>
          <p>Activité favorite: <%= user.specialties.first.title %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
