  <%age = Date.today.year - @user.birthdate.year%>
  <%age -= 1 if Date.today < @user.birthdate + age.years%>
  <div class="p-5 m-5">
    <h1>Bonjour, <%=@user.first_name.capitalize%> <%=@user.last_name.capitalize%> !</h1>
    <div class="row">
      <div class="col-7 me-2">
        <h3><%=age%> ans, <%=@user.address%></h3>
        <% if current_user.id == @user.id %>
          <%= link_to "Modifier mon profil", edit_user_registration_path, class:"button", style:"text-decoration: none; width: 30%;"%> <%#= penser a bverifier%>
        <% end %>
        <%=cl_image_tag @user.photos.first.key, height: 300, width: 300, crop: :fill, gravity: :face, class:'rounded-circle my-3'%>
        <h3 class="my-3">Ma Description<h3>
        <p class="fs-6"><%=@user.description%></p>
        <% if @user.specialties.first%>
          <h3 class="my-2">Mes Services</h3>
          <div class="d-flex">
            <%@user.specialties.each do |service|%>
              <%= link_to service.title, specialty_path(service), class:" m-3", style:"text-decoration: none;"%>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="ms-2 col-4">
        <h2>Photos</h2>
        <div class="d-inline-flex flex-wrap mb-1">
        <% counter = true%>
        <%@user.photos.each do |photo|%>
          <% if counter %>
            <% counter = false%>
          <%else%>
            <%=cl_image_tag photo.key, height: 120, width: 120, crop: :fill, gravity: :face, class:'m-1'%>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
